@{
    var citationBook = (CitationNeeded.Domain.ValueTypes.CitationBook)ViewData["CitationBook"];
}

<a href="#top"></a>

<div id="js_createCitation" class="d-none">

    <div id="js_exampleInput" class="form-group d-none">
        <label id="js_labelTextInput_x" for="js_textInput_x">Text: </label>
        <input id="js_textInput_x" class="form-control" name="[0].Text" />
        <label id="js_labelSpeakerInput_x" for="js_speakerInput_x">Sprecher: </label>
        <input id="js_speakerInput_x" class="form-control" name="[0].Speaker" />
    </div>

    <form method="post">
        <div id="js_variableInputFields">
            <div id="js_input_0" class="form-group">
                <label id="js_labelTextInput_0" for="js_textInput_0">Text: </label>
                <input id="js_textInput_0" class="form-control" name="[0].Text" />
                <label id="js_labelSpeakerInput_0" for="js_speakerInput_0">Sprecher: </label>
                <input id="js_speakerInput_0" class="form-control" name="[0].Speaker" />
            </div>
        </div>
        <i id="js_addCitation" class="fas fa-plus"></i>
        <input type="hidden" name="citationBookId" value="@citationBook.Id" />
        <button id="js_createCitationGroupButton" type="submit" class="btn btn-primary startupBtn" asp-page-handler="CreateCitation">Submit</button>
    </form>
</div>

@foreach (var citationGroup in citationBook.CitationGroups.OrderByDescending(c => c.Created))
{
    <div class="card citationGroup">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                @foreach (var citation in citationGroup.Citations)
                {
                    <li class="list-group-item">
                        <div class="speaker">
                            @citation.Speaker
                        </div>
                        <div class="text">
                            @citation.Text
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="card-footer">
            <div class="author">Verfasser: @citationGroup.Author.FirstName @citationGroup.Author.LastName</div>
            <div class="card-subtitle text-muted">Erstellt: @citationGroup.Created</div>
        </div>
    </div>
}

<button id="js_newCitationGroup" class="fab">
    +
</button>

<script>
    var currentId = 1;

    $(function () {
        $("#js_addCitation").click(function () {
            var clone = $("#js_exampleInput").clone();
            clone.removeClass("d-none");
            clone.attr("id", "js_input_" + currentId);

            clone.find("#js_textInput_x").attr("name", "[" + currentId + "].Text");
            clone.find("#js_speakerInput_x").attr("name", "[" + currentId + "].Speaker");
            clone.find("#js_labelTextInput_x").attr("for", "js_textInput_" + currentId);
            clone.find("#js_labelSpeakerInput_x").attr("for", "js_speakerInput_" + currentId);

            clone.find("#js_labelTextInput_x").attr("id", "js_labelTextInput_" + currentId);
            clone.find("#js_textInput_x").attr("id", "js_textInput_" + currentId);
            clone.find("#js_labelSpeakerInput_x").attr("id", "js_labelSpeakerInput_" + currentId);
            clone.find("#js_speakerInput_x").attr("id", "js_speakerInput_" + currentId);

            $("#js_variableInputFields").append(clone);

            currentId++;
        });
    });
</script>

<script>
    $(function () {
        $("#js_newCitationGroup").click(function () {
            $("a[href='#top']").click(function() {
              $("html, body").animate({ scrollTop: 0 }, "slow");
              return false;
            });

            $(this).addClass("d-none");
            $("#js_createCitation").removeClass("d-none");
        });
    });
</script>
