@page
@model CitationNeeded.WebApp.Pages.TestAlexModel
@{
    ViewData["Title"] = "TestAlex";
}

<h1>TestAlex: @Model.Text</h1>

@foreach (var book in @Model.Books)
{

<p>@book.Id</p>
<p>@book.Name</p>

@foreach(var group in @book.CitationGroups)
{
@foreach(var citation in @group.Citations)
{
<p>@citation.Speaker</p>
<p>:</p>
<p>@citation.Text</p>
}
}
}

